<%- include('./includes/head.ejs') %>
    <%- include('./includes/nav.ejs') %>
        <main class="main_width">
            <div class="message_main">
                <h1 class="main__title">Welcome to Pictournal</h1>
                <div class="line"></div>
                <p>404 Page Not Found!</p>
            </div>
        </main>
        <%- include('./includes/end.ejs') %>